.eve-color-security10{
  color:#2FEFEF;
}

.eve-color-security09{
  color:#48F0C0;
}

.eve-color-security08{
  color:#00EF47;
}

.eve-color-security07{
  color:#00F000;
}

.eve-color-security06{
  color:#8FEF2F;
}

.eve-color-security05{
  color:#EFEF00;
}

.eve-color-security04{
  color:#D77700;
}

.eve-color-security03{
  color:#F06000;
}

.eve-color-security02{
  color:#F04800;
}

.eve-color-security01{
  color:#D73000;
}

.eve-color-security00{
  color:#F00000;
}


.badge-mineral-1{
  background-color:#e67e22;
  border-color:#e67e22;
}

.badge-mineral-2{
  background-color:#d35400;
  border-color:#d35400;
}

.badge-mineral-3{
  background-color:#1abc9c;
  border-color:#1abc9c;
}

.badge-mineral-4{
  background-color:#2980b9;
  border-color:#2980b9;
}


.badge-mineral-5{
  background-color:#34495e;
  border-color:#34495e;
}

.badge-mineral-6{
  background-color:#2ecc71;
  border-color:#2ecc71;
}

.badge-mineral-7{
  background-color:#9b59b6;
  border-color:#9b59b6;
}

.badge-mineral-8{
  background-color:#e74c3c;
  border-color:#e74c3c;
}
